6Ô∏è‚É£ Data Transformation
üìå Reshaping and restructuring data

In [31]:
import pandas as pd
df=pd.read_csv('weather.csv')

In [32]:
df.head()

,Date,Time,City,Temperature_C,Humidity_%,Wind_Speed_kmph,Weather_Condition,Precipitation_mm,Air_Quality_Index,UV_Index,Is_Weekend,Remarks
0,2024-01-01,08:00,New York,5.0,80,10,Cloudy,2.5,45,2,False,Cold
1,2024-01-02,12:00,Los Angeles,12.0,65,15,Sunny,0.0,30,5,False,Warm
2,2024-01-03,16:00,Chicago,8.0,70,20,Rainy,10.0,60,3,False,Wet
3,2024-01-04,20:00,Houston,NaN,55,5,Clear,0.0,25,7,True,Clear Night
4,2024-01-05,23:00,Phoenix,20.0,40,12,Sunny,0.5,70,6,True,Hot

In [33]:
df.melt(id_vars=['Date', 'City'], value_vars=['Temperature_C', 'Humidity_%'])
# This is used to reshape a DataFrame from a wide format to a long format.

          Date         City       variable  value
0   2024-01-01     New York  Temperature_C    5.0
1   2024-01-02  Los Angeles  Temperature_C   12.0
2   2024-01-03      Chicago  Temperature_C    8.0
3   2024-01-04      Houston  Temperature_C    NaN
4   2024-01-05      Phoenix  Temperature_C   20.0
5   2024-01-06     New York  Temperature_C   15.0
6   2024-01-07  Los Angeles  Temperature_C   18.0
7   2024-01-08      Chicago  Temperature_C   22.0
8   2024-01-09      Houston  Temperature_C    NaN
9   2024-01-10      Phoenix  Temperature_C   30.0
10  2024-01-01     New York  Temperature_C    5.0
11  2024-01-02  Los Angeles  Temperature_C   12.0
12  2024-01-03      Chicago  Temperature_C    8.0
13  2024-01-04      Houston  Temperature_C    NaN
14  2024-01-05      Phoenix  Temperature_C   20.0
15  2024-01-06     New York  Temperature_C   15.0
16  2024-01-07  Los Angeles  Temperature_C   18.0
17  2024-01-08      Chicago  Temperature_C   22.0
18  2024-01-03      Chicago  Temperature_C    8.0
19  2024-01-08      Chicago  Temperature_C   22.0
20  2024-01-01     New York     Humidity_%   80.0
21  2024-01-02  Los Angeles     Humidity_%   65.0
22  2024-01-03      Chicago     Humidity_%   70.0
23  2024-01-04      Houston     Humidity_%   55.0
24  2024-01-05      Phoenix     Humidity_%   40.0
25  2024-01-06     New York     Humidity_%   60.0
26  2024-01-07  Los Angeles     Humidity_%   75.0
27  2024-01-08      Chicago     Humidity_%   50.0
28  2024-01-09      Houston     Humidity_%   45.0
29  2024-01-10      Phoenix     Humidity_%   35.0
30  2024-01-01     New York     Humidity_%   80.0
31  2024-01-02  Los Angeles     Humidity_%   65.0
32  2024-01-03      Chicago     Humidity_%   70.0
33  2024-01-04      Houston     Humidity_%   55.0
34  2024-01-05      Phoenix     Humidity_%   40.0
35  2024-01-06     New York     Humidity_%   60.0
36  2024-01-07  Los Angeles     Humidity_%   75.0
37  2024-01-08      Chicago     Humidity_%   50.0
38  2024-01-03      Chicago     Humidity_%   70.0
39  2024-01-08      Chicago     Humidity_%   50.0

In [ ]:
df = df.drop_duplicates(subset=['Date', 'Remarks'])
df.pivot(index='Date', columns='City', values='Temperature_C')

#firstly needed to remove the duplicates because there are duplicate values 
# for the same combination of index and columns.
#pivot function allows to look at the data with different point of view

City        Chicago  Houston  Los Angeles  New York  Phoenix
Date
2024-01-01      NaN      NaN          NaN       5.0      NaN
2024-01-02      NaN      NaN         12.0       NaN      NaN
2024-01-03      8.0      NaN          NaN       NaN      NaN
2024-01-04      NaN      NaN          NaN       NaN      NaN
2024-01-05      NaN      NaN          NaN       NaN     20.0
2024-01-06      NaN      NaN          NaN      15.0      NaN
2024-01-07      NaN      NaN         18.0       NaN      NaN
2024-01-08     22.0      NaN          NaN       NaN      NaN
2024-01-09      NaN      NaN          NaN       NaN      NaN
2024-01-10      NaN      NaN          NaN       NaN     30.0

In [38]:
df_exploded = df.explode('Temperature_C')
print(df_exploded)

         Date   Time         City  Temperature_C  Humidity_%  Wind_Speed_kmph  \
0  2024-01-01  08:00     New York            5.0          80               10
1  2024-01-02  12:00  Los Angeles           12.0          65               15
2  2024-01-03  16:00      Chicago            8.0          70               20
3  2024-01-04  20:00      Houston            NaN          55                5
4  2024-01-05  23:00      Phoenix           20.0          40               12
5  2024-01-06  08:00     New York           15.0          60               14
6  2024-01-07  12:00  Los Angeles           18.0          75               11
7  2024-01-08  16:00      Chicago           22.0          50                9
8  2024-01-09  20:00      Houston            NaN          45                8
9  2024-01-10  23:00      Phoenix           30.0          35                7

  Weather_Condition  Precipitation_mm  Air_Quality_Index  UV_Index  \
0            Cloudy               2.5                 45         2
1             Sunny               0.0                 30         5
2             Rainy              10.0                 60         3
3             Clear               0.0                 25         7
4             Sunny               0.5                 70         6
5            Cloudy               1.2                 50         4
6             Sunny               0.0                 40         3
7             Rainy               5.0                 65         5
8             Clear               0.0                 55         2
9             Sunny               3.0                 20         6

   Is_Weekend      Remarks
0       False         Cold
1       False         Warm
2       False          Wet
3        True  Clear Night
4        True          Hot
5       False         Cold
6       False         Warm
7       False          Wet
8        True  Clear Night
9        True          Hot